@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

body {
  background:
    radial-gradient(
      circle at top left,
      rgba(251, 191, 36, 0.08),
      transparent 30%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(249, 115, 22, 0.08),
      transparent 30%
    ),
    var(--background);

  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Selection Color */
::selection {
  background: #f59e0b;
  color: white;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f3f4f6;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    #f59e0b,
    #f97316
  );
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    to bottom,
    #d97706,
    #ea580c
  );
}